[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/nietzsche/Desktop/unity to xfce]
row=2
col=1

[/home/nietzsche/Desktop/Empty Document]
row=0
col=1

[/home/nietzsche/Desktop/Guilty Gear X2 Reload.desktop]
row=1
col=1

[google-drive://remremachawngthu@gmail.com/]
row=0
col=0

[4E24-0F80]
row=3
col=1

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/nietzsche]
row=3
col=0

